{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'manager/static/css/air-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'manager/static/css/manager.css' %}">
  <link rel="stylesheet" href="{% static 'manager/static/css/manager_mobile.css' %}">
  <title>Manager</title>
</head>
<body>
{% csrf_token %}

<nav class="navigation">
  <p class="nav__bookings">Бронирования</p>
  <p class="nav__base">База номеров</p>
</nav>

<main class="bookings">
  <h1 class="title">Бронирования</h1>
  <div class="allBookings">
    <div class="booking__titles">
      <p class="date_of_booking">Дата бронирования</p>
      <p class="room">Номер</p>
      <p class="date_of_residence">Даты проживания</p>
      <p class="amount_of_residents">Количество проживающих</p>
      <p class="phone_number">Номер телефона</p>
    </div>
    {% for element in bookings %}
    <div class="booking">
      <p class="date_of_booking">{{ element.date_of_booking }}</p>
      <p class="room">{{ element.room }}</p>
      <p class="date_of_residence">{{ element.date_of_residence }}</p>
      <p class="amount_of_residents">{{ element.amount_of_residents }}</p>
      <p class="phone_number">{{ element.phone_number }}</p>
    </div>
    {% endfor %}
  </div>
</main>

<main class="base hidden">
  <h1 class="title">База номеров</h1>
  <div class="calendars">
    <div class="calendar__wrapper">
      <div class="calendar__title">эконом 1 (1)</div>
      <input type="text" class="calendar" id="calendar">
      <div class="input-group price_wrapper">
        <span class="input-group-text">цена</span>
        <input class="prices_input form-control" value={{prices.1}} type="number">
      </div>
    </div>
    <div class="calendar__wrapper">
      <div class="calendar__title">эконом 2 (2)</div>
      <input type="text" class="calendar" id="calendar">
      <div class="input-group price_wrapper">
        <span class="input-group-text">цена</span>
        <input class="prices_input form-control" value={{prices.2}} type="number">
      </div>
    </div>
    <div class="calendar__wrapper">
      <div class="calendar__title">люкс 1 (3)</div>
      <input type="text" class="calendar" id="calendar">
      <div class="input-group price_wrapper">
        <span class="input-group-text">цена</span>
        <input class="prices_input form-control" value={{prices.3}} type="number">
      </div>
    </div>
    <div class="calendar__wrapper">
      <div class="calendar__title">эконом 3 (4)</div>
      <input type="text" class="calendar" id="calendar">
      <div class="input-group price_wrapper">
        <span class="input-group-text">цена</span>
        <input class="prices_input form-control" value={{prices.4}} type="number">
      </div>
    </div>
    <div class="calendar__wrapper">
      <div class="calendar__title">эконом 4 (5)</div>
      <input type="text" class="calendar" id="calendar">
      <div class="input-group price_wrapper">
        <span class="input-group-text">цена</span>
        <input class="prices_input form-control" value={{prices.5}} type="number">
      </div>
    </div>
    <div class="calendar__wrapper">
      <div class="calendar__title">люкс 2 (6)</div>
      <input type="text" class="calendar" id="calendar">
      <div class="input-group price_wrapper">
        <span class="input-group-text">цена</span>
        <input class="prices_input form-control" value={{prices.6}} type="number">
      </div>
    </div>
    <div class="calendar__wrapper">
      <div class="calendar__title">мансарда 1 (7)</div>
      <input type="text" class="calendar" id="calendar">
      <div class="input-group price_wrapper">
        <span class="input-group-text">цена</span>
        <input class="prices_input form-control" value={{prices.7}} type="number">
      </div>
    </div>
    <div class="calendar__wrapper">
      <div class="calendar__title">мансарда 2 (8)</div>
      <input type="text" class="calendar" id="calendar">
      <div class="input-group price_wrapper">
        <span class="input-group-text">цена</span>
        <input class="prices_input form-control" value={{prices.8}} type="number">
      </div>
    </div>
  </div>
  <button class="save btn btn-success">Сохранить</button>
  <div class="saveMenu hidden">
    <span>Изменения сохранены</span>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="{% static 'manager/static/js/air-datepicker.js' %}"></script>
<script src="{% static 'manager/static/js/manager.js' %}"></script>
</body>
</html>