{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <style>
form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
}

form label{
  margin: 0 auto;
  margin-bottom: 1vw;
  font-size: 2em;
}

form input{
  margin-bottom: 1vw;
  font-size: 1.5em;
}

form input[type='submit']{
  width: 90%;
  margin: 0 auto;
}
  </style>
</head>
<body>
<!-- ----------------------------------------------------------------- -->
  
<div class="">
  <form class="">
    <label for="password">Введите пароль</label>
    <input id="password" type="text">
    <input type="submit" value="проверить">
  </form>  
</div>
  
<!-- ----------------------------------------------------------------- -->
<script>
let url = location.href
let passwordInput = document.querySelector('#password')
let submit = document.querySelector('input[type="submit"]')
submit.addEventListener('click', () => {
  async function main(){
    let response = await fetch(url, {
      method: 'get',
      headers: {
        'PASSWORDCHECKING': passwordInput.value
      }
    })
  }

  main()
})
</script>
</body>
</html>