@font-face {
  font-family: Pinstripe;
  src: url("/static/main/static/css/fonts/AlumniSansPinstripe-Regular.ttf"); }
body {
  margin: 0;
  padding: 0; }
  body * {
    font-family: Pinstripe;
    font-weight: 900; }

.hidden {
  display: none; }

.title {
  margin-top: 2%;
  text-align: center;
  font-size: 2.5em; }

.navigation {
  width: 100%;
  height: 5vw;
  display: flex;
  align-items: center;
  background-color: #d7ffd7; }
  .navigation p {
    margin: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    cursor: pointer; }
    .navigation p:hover {
      background-color: #718571;
      transition: all .1s linear; }

.bookings .allBookings {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .bookings .allBookings .booking, .bookings .allBookings .booking__titles {
    display: flex; }
  .bookings .allBookings .booking {
    margin-bottom: 1vw;
    background-color: antiquewhite;
    border-radius: 10px/10px; }
  .bookings .allBookings p {
    margin: 2% 0;
    width: 20%;
    font-size: 1.5em;
    word-break: break-word;
    text-align: center; }
  .bookings .allBookings .booking__titles p {
    font-size: 2em; }

.base .calendars {
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
.base .calendar__wrapper {
  margin-bottom: 3vw;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .base .calendar__wrapper .air-datepicker {
    margin: 0 auto; }
.base .calendar__title {
  margin: 3% 0;
  text-align: center;
  font-size: 2em; }
.base input {
  display: none; }
.base .price_wrapper {
  margin-top: 5%;
  width: 50%; }
.base .prices_input {
  display: inline;
  font-weight: bolder; }
.base .save {
  margin: 3% auto;
  display: block;
  font-size: 2em;
  font-weight: bolder; }
.base .saveMenu {
  padding: 3vh;
  width: 90%;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  color: white;
  font-size: 2em;
  text-align: center;
  background-color: green;
  border-radius: 20px/20px; }
