@media (min-width: 1200px) {
  header {
    height: 50vh; }
    header .name .title {
      font-size: 2em; }

  .numbers .title {
    margin: 10vh 0 5vh 0;
    text-align: center; }
  .numbers .rooms .room__title {
    font-size: 1.7em; }
  .numbers .room .room__description {
    font-size: 1.1em; }

  .places {
    padding: 2vh 0; }
    .places .title {
      margin: 5vh 0;
      text-align: center; }
    .places .description {
      margin-top: 10vh;
      flex-direction: row; }
      .places .description .description__block {
        box-sizing: border-box;
        padding: 0 3vh; }

  .booking div * {
    font-size: 1.3em; }
  .booking div label {
    font-size: 1.2em; }
  .booking .booking__dates {
    width: 30%; }
    .booking .booking__dates input {
      font-size: 1.6em; } }
