@media (min-width: 665px) {
  header .name {
    margin-left: 5vh;
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 10%;
    z-index: 2; }
    header .name img {
      width: 10%;
      object-fit: contain; }
    header .name .title {
      width: 85%;
      text-align: start;
      font-size: 4vw; }
  header .info {
    margin: 0 auto;
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: 2;
    width: 40%;
    text-align: end;
    font-size: 1em; }
    header .info * {
      margin: 0; }

  .numbers .title {
    margin: 3vw 0; }
  .numbers .rooms {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5%; }
    .numbers .rooms .room__title {
      padding: 2% 0;
      font-size: 1.8em; }
  .numbers .room {
    width: 30%;
    height: 80vh; }
    .numbers .room .room__description {
      font-size: 1em; }

  .places {
    padding: 1vw 0;
    padding-bottom: 3vw; }
    .places .title {
      margin: 2vw 0; }
    .places .slider {
      margin: 0 auto;
      width: 80%;
      height: 70%;
      border-radius: 20px/20px; }
    .places .description {
      margin-top: 10vh;
      flex-direction: row; }
      .places .description .description__block {
        box-sizing: border-box;
        padding: 0 3vh; }

  .booking {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap; }
    .booking div {
      width: 18%; }
      .booking div * {
        font-size: 1.2em; }
      .booking div label {
        font-size: 1.1em; }
    .booking .booking__room, .booking .booking__people {
      width: 10%; }
    .booking input {
      height: auto;
      font-size: 1em; }
    .booking .booking__dates {
      width: 30%; }
    .booking .booking__phone {
      width: 25%; }
    .booking .booking__submit {
      width: 40%;
      font-size: 2vw; }
    .booking .fieldsMenu {
      padding: 1vw; }
    .booking .popUpMenu {
      padding: 1vw; } }
