@media (min-width: 665px) {

header{
  .name{
    margin-left: 5vh;
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 10%;
    z-index: 2;
    img{
      width: 10%;
      object-fit: contain;
    }
    .title{
      width: 85%;
      text-align: start;
      font-size: 4vw;
    }
  }
  .info{
    margin: 0 auto;
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: 2;
    width: 40%;

    text-align: end;
    font-size: 1em;

    *{
      margin: 0;
    }
  }
}

// ------------------------------------

.numbers{
  .room{
    margin: 0 5vw;
    width: 40vh;
    height: 60vh;
  
    // Увеличение room
    &.enlarge{
      width: 60vh;
      height: 90vh;
      $sliderRoomEnlargeWidth: 50vh;
      .roomSlider{
        width: $sliderRoomEnlargeWidth;
        height: 190vw * 0.66;
        margin-bottom: 3%;
        flex-grow: 1;
      }
      .roomImages{
        height: 100%;
      }
      .roomImage{
        width: $sliderRoomEnlargeWidth;
        height: 100%;
      }
      .roomStripes{
        width: $sliderRoomEnlargeWidth;
        display: flex;
      }
      @keyframes appearance {
        0%{
          opacity: 0;
        }
        100%{
          opacity: 1;
        }
      }
      .roomSleep, .roomPrice{
        display: block;
        animation: appearance .2s linear;
      }
    }
  }
  .roomName{
    text-align: center;
    font-size: 2em;
    user-select: none;
  }
  $roomSlider_width: 30vh;
  $roomSlider_height: 40vh;
  .roomSlider{
    width: $roomSlider_width;
    height: $roomSlider_height;
    margin: 0 auto;
    margin-top: 1vw;
    overflow: hidden;
    position: relative;
    
    border: 2px solid black;
    border-radius: 5px/5px;
  }
  .roomImage{
    width: $roomSlider_width;
    height: $roomSlider_height;
    display: block;

    object-fit: contain;
    background-color: rgb(190, 172, 138);
  }
  .roomSleep, .roomPrice{
    display: none;
    height: 10%;

    text-align: center;
    font-size: 1.5em;
  }
}

// ---------------------------------------------

.places{
  .description{  
    margin-top: 10vh;
    flex-direction: row;

    .description__block{
      box-sizing: border-box;
      padding: 0 3vh;
    }
  }
}

// ---------------------------------
.booking{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;

  div{
    width: 18%;
    *{
      font-size: 1.2em;
    }
  }
  .booking__room, .booking__people{
    width: 10%;
  }
  input{
    height: auto;
    font-size: 1em;
  }  
  .booking__dates{
    width: 30%;
  }
  .booking__phone{
    width: 25%;
  }
  .booking__submit{
    width: 40%;

    font-size: 2vw;
  }
  .fieldsMenu{
    padding: 1vw;
  }
  .popUpMenu{
    padding: 1vw;
    top: 1vw;
  }
}

}
