@media (min-width: 665px) {

$titleSize: 2.5em;

// ----------------------

header{
  height: 40vh;
  display: flex;
  justify-content: space-between;
  
  font-size: 1em;
  @mixin text{
    margin: 0;
    padding-top: 1%;
    width: 35%;
    height: fit-content;
  }
  .name{
    @include text;
    img{
      width: 15%;
    }
    .title{
      font-size: 2.7vw;
    }
  }
  .info{
    @include text;
    padding-top: 2%;
    margin-right: 2%;

    text-align: end;
  }
}

// ------------------------------------

.numbers{
  .title{
    margin: 3vw 0;

    font-size: $titleSize;
  }
  .rooms{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5%;

    .room__title{
      padding: 2% 0;

      font-size: 1.5em;
    }
  }
  .room{
    width: 30%;
    height: 80vh;

    .room__description{
      font-size: 1em;
    }
  }
}

// ---------------------------------------------

.places{
  padding: 1vw 0;
  padding-bottom: 3vw;

  .title{
    margin: 2vw 0;

    font-size: $titleSize;
  }
  .slider{
    margin: 0 auto;
    width: 80%;
    height: 70%;

    border-radius: 20px/20px;
  }
  .description{  
    margin-top: 10vh;
    flex-direction: row;

    font-size: 1em;

    .description__block{
      box-sizing: border-box;
      padding: 0 3vh;
    }
  }
}

// ---------------------------------
.booking{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;

  div{
    width: 18%;
    *{
      font-size: 1.2em;
    }
    label{
      font-size: 1.1em;
    }
  }
  .booking__room, .booking__people{
    width: 10%;
  }
  input{
    height: auto;
    font-size: 1em;
  }  
  .booking__dates{
    width: 30%;
  }
  .booking__phone{
    width: 25%;
  }
  .booking__submit{
    padding: .5% 0;
    width: 30%;

    font-size: 2vw;
  }
  .fieldsMenu{
    padding: 1vw;
  }
  .popUpMenu{
    padding: 1vw;
  }
}

// ----------------------

.map{
  height: 50vh;
}

}
