
@media (min-width: 1200px) {
  
// ---------------------------------

header{
  height: 50vh;

  .name{
    .title{
      width: 85%;
      text-align: start;
      font-size: 6vh;
    }
  }
  .info{
    margin: 0 auto;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 2;
    width: 40%;

    text-align: end;
    font-size: 1em;

    *{
      margin: 0;
    }
  }
}

// ---------------------------------

.numbers{
  .title{
    margin: 10vh 0 5vh 0;
  
    text-align: center;
    font-size: 3.5em;
  }

  .rooms{
    .room__title{
      font-size: 2.5em;
    }
  }
  .room{
    .room__description{
      font-size: 1.5em;
    }
  }
}

// ---------------------------------

.places{
  padding: 2vh 0;

  .title{
    margin: 5vh 0;
  
    text-align: center;
    font-size: 3.5em;
  }
  .description{
    margin-top: 10vh;
    flex-direction: row;
  
    font-size: 30px;

    .description__block{
      box-sizing: border-box;
      padding: 0 3vh;
    }
  }
}

// -----------------------------------------

.booking{
  div{
    *{
      font-size: 1.3em;
    }
    label{
      font-size: 1.2em;
    }
  }
  .booking__dates{
    width: 30%;

    input{
      font-size: 1.6em;
    }
  }
}

}
