
@font-face {
  font-family: Pinstripe;
  src: url('/static/main/static/css/fonts/AlumniSansPinstripe-Regular.ttf');
}

body{
  margin: 0;
  padding: 0;

  font-family: Pinstripe;

  *{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

img {
  -webkit-user-drag: none; /* запрет на перетаскивание в браузерах на основе WebKit */
  -moz-user-select: none; /* запрет на выделение текста в браузерах на основе Gecko */
  -ms-user-select: none; /* запрет на выделение текста в Internet Explorer */
  user-select: none; /* запрет на выделение текста во всех браузерах */
}

/* --------------------------------- */

header{
  width: 100%;
  height: 40vh;

  position: relative;

  text-align: center;
  color: white;
  font-weight: 900;
  font-size: 1.3em;

  .name{
    width: 90%;
    height: 20%;
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 5%;
    z-index: 2;
    img{
      width: 20%;
      object-fit: contain;
    }
    .title{
      width: 75%;
      align-self: center;
      font-size: 4vh;
    }
  }
  .info{
    margin: 0 auto;
    width: 60%;
    position: relative;
    top: 10%;
    z-index: 2;

    font-size: 1em;

    *{
      margin: 0;
    }
  }
  .background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  
    filter: brightness(50%);
    object-fit: cover;
    object-position: 73%;
  }
}


/* --------------------------------- */

.numbers{

  &:hover{
    cursor: grab;
  }
  &:active{
    cursor: grabbing;
  }

  .title{
    margin: 10vw 0 5vw 0;
  
    text-align: center;
    font-size: 3.5em;
  }
  .rooms{
    padding-bottom: 5vh;
    width: 100%;
    overflow-x: scroll;
  
    display: flex;

    &::-webkit-scrollbar{
      display: none;
    }
    &::-webkit-scrollbar {
      display: block;
      height: 10px; 
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 20px;
    }
  }
  .room{
    margin: 0 10vw;
    width: 40vw;
    height: 60vw;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  
    background-color: wheat;
    border: 2px solid black;
    border-radius: 10px/10px;
    transition: all .2s linear;

    &:hover{
      cursor: pointer;
    }

    *{
      transition: all .2s linear;
    }

    // Увеличение room
    &.enlarge{
      width: 125vw * 0.66;
      height: 120vw;

      $sliderRoomEnlargeWidth: 110vw * 0.66;
      .roomSlider{
        width: $sliderRoomEnlargeWidth;
        height: 190vw * 0.66;
        margin-bottom: 3%;
        flex-grow: 1;
      }
      .roomImages{
        height: 100%;
      }
      .roomImage{
        width: $sliderRoomEnlargeWidth;
        height: 100%;
      }
      .roomStripes{
        width: $sliderRoomEnlargeWidth;
        display: flex;
      }

      @keyframes appearance {
        0%{
          opacity: 0;
        }
        100%{
          opacity: 1;
        }
      }
      .roomSleep, .roomPrice{
        display: block;
        animation: appearance .2s linear;
      }
    }
  }
  .roomName{
    text-align: center;
    font-size: 1.7em;
    user-select: none;
  }
  $roomSlider_width: 30vw;
  $roomSlider_height: 45vw;
  .roomSlider{
    width: $roomSlider_width;
    height: $roomSlider_height;
    margin: 0 auto;
    margin-top: 1vw;
    overflow: hidden;
    position: relative;
    
    border: 2px solid black;
    border-radius: 5px/5px;
  }
  .roomImages{
    width: fit-content;
    height: 100%;
    display: flex;

    transition: transform 0s;
  }
  .roomImage{
    width: $roomSlider_width;
    height: $roomSlider_height;
    display: block;

    object-fit: contain;
    background-color: rgb(190, 172, 138);
  }
  .roomStripes{
    height: 3%;
    margin-top: 1%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;

    & div{
      height: 100%;
      margin: 0 2%;
      flex-grow: 1;

      background-color: rgba(128, 128, 128, 0.5);
      border-radius: 5px/5px;
      animation: appearance .2s linear;
    }
    & .selected{
      background-color: black;
    }
  }
  .roomSleep, .roomPrice{
    display: none;
    height: 10%;

    text-align: center;
    font-size: 1.6em;
  }
}

/* --------------------------------- */

.places{
  .title{
    margin: 10vw 0 5vw 0;
  
    text-align: center;
    font-size: 3.5em;
  }
  .slider{
    width: 100%;
    height: 40vh;
  }
  .sliderImage{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: rgba(255, 249, 238, 0.3);
  }

  .description{
    margin: 5vh auto;
    margin-top: 2vh;
    width: 90%;
    display: flex;
    flex-direction: column;
  
    font-size: 20px;

    .description__title{
      font-size: 1.3em;
    }
  }
}

/* --------------------------------- */

.booking{
  width: 90%;
  margin: 5vw auto;
  display: grid;
  align-items: end;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 7fr;
  grid-gap: 5vw;
  grid-template-areas: 
  'room dates'
  'people phone'
  'submit submit';

  div{
    display: flex;
    flex-direction: column;

    *{
      font-size: 1.3em;
    }
  }
  input{
    width: 100%;
    height: 7vw;
    font-size: 1.2em;
  }
  .booking__submit{
    height: auto;
  }

  &__room{
    grid-area: room;
  }
  &__dates{
    grid-area: dates;
  }
  &__people{
    grid-area: people;
  }
  &__phone{
    grid-area: phone;
  }
  &__submit{
    grid-area: submit;
    justify-self: center;
  }
}





