{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{% static 'main/static/css/images/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'main/static/css/index.css' %}">
  <link rel="stylesheet" href="{% static 'main/static/css/index_tablet.css' %}">
  <link rel="stylesheet" href="{% static 'main/static/css/index_pc.css' %}">
  <link rel="stylesheet" href="{% static 'main/static/css/swiper-bundle.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/static/css/air-datepicker.css' %}">
  <title>Гостевой дом Алла</title>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();
  for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
  k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(93818702, "init", {
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/93818702" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>
<body>
{% csrf_token %}

<p class="preloading" style="margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 5vw; font-family: 'Courier New', Courier, monospace;">загрузка ...</p>

<div class="wrapper" style="display: none;">
<!-- ----------------- -->
<header>
  <div class="name">
    <img src="{% static 'main/static/css/images/logo.png' %}" alt="" class="logo">
    <title class="title">Гостевой дом Алла</title>
  </div>
  <div class="info">
    <p class="phone">8-928-308-33-88</p>
    <p class="address">г. Пятигорск,   ул. Универститетская 55</p>
  </div>
  <img src="{% static 'main/static/css/images/hotel_main.jpg' %}" alt="" class="background">
</header>

<!-- ------------------------------------------------------------ -->

<main class="numbers">
  <div class="title">Номера</div>
  <div class="rooms">
    <div class="room">
      <p class="room__title">эконом 1</p>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><a data-fslightbox="gallery1" href="{% static 'main/static/css/images/room1_1.jpg' %}"><img src="{% static 'main/static/css/images/room1_1.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery1" href="{% static 'main/static/css/images/room1_2.jpg' %}"><img src="{% static 'main/static/css/images/room1_2.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery1" href="{% static 'main/static/css/images/room1_3.jpg' %}"><img src="{% static 'main/static/css/images/room1_3.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery1" href="{% static 'main/static/css/images/room1_4.jpg' %}"><img src="{% static 'main/static/css/images/room1_4.jpg' %}" alt=""></a></div>
        </div>
        <div class="swiper-button-next swiper-button"></div>
        <div class="swiper-button-prev swiper-button"></div>
        <div class="swiper-pagination"></div>
      </div>
      <p class="room__description">3-х местный номер</p>
      <p class="room__description">с общей ванной комнатой</p>
      <p class="room__description">1200₽ - 1600₽</p>
    </div>
    <div class="room">
      <p class="room__title">эконом 2</p>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><a data-fslightbox="gallery2" href="{% static 'main/static/css/images/room2_1.jpg' %}"><img src="{% static 'main/static/css/images/room2_1.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery2" href="{% static 'main/static/css/images/room2_2.jpg' %}"><img src="{% static 'main/static/css/images/room2_2.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery2" href="{% static 'main/static/css/images/room2_3.jpg' %}"><img src="{% static 'main/static/css/images/room2_3.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery2" href="{% static 'main/static/css/images/room2_4.jpg' %}"><img src="{% static 'main/static/css/images/room2_4.jpg' %}" alt=""></a></div>
        </div>
        <div class="swiper-button-next swiper-button"></div>
        <div class="swiper-button-prev swiper-button"></div>
        <div class="swiper-pagination"></div>
      </div>
      <p class="room__description">3-х местный номер</p>
      <p class="room__description">с общей ванной комнатой</p>
      <p class="room__description">1200₽ - 1600₽</p>
    </div>
    <div class="room">
      <p class="room__title">люкс 1</p>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><a data-fslightbox="gallery3" href="{% static 'main/static/css/images/room3_1.jpg' %}"><img src="{% static 'main/static/css/images/room3_1.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery3" href="{% static 'main/static/css/images/room3_2.jpg' %}"><img src="{% static 'main/static/css/images/room3_2.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery3" href="{% static 'main/static/css/images/room3_3.jpg' %}"><img src="{% static 'main/static/css/images/room3_3.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery3" href="{% static 'main/static/css/images/room3_4.jpg' %}"><img src="{% static 'main/static/css/images/room3_4.jpg' %}" alt=""></a></div>
        </div>
        <div class="swiper-button-next swiper-button"></div>
        <div class="swiper-button-prev swiper-button"></div>
        <div class="swiper-pagination"></div>
      </div>
      <p class="room__description">2-х местный номер</p>
      <p class="room__description">со своей ванной комнатой</p>
      <p class="room__description">1800₽-2000₽</p>
    </div>
    <div class="room">
      <p class="room__title">эконом 3</p>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><a data-fslightbox="gallery4" href="{% static 'main/static/css/images/room4_1.jpg' %}"><img src="{% static 'main/static/css/images/room4_1.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery4" href="{% static 'main/static/css/images/room4_2.jpg' %}"><img src="{% static 'main/static/css/images/room4_2.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery4" href="{% static 'main/static/css/images/room4_3.jpg' %}"><img src="{% static 'main/static/css/images/room4_3.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery4" href="{% static 'main/static/css/images/room4_4.jpg' %}"><img src="{% static 'main/static/css/images/room4_4.jpg' %}" alt=""></a></div>
        </div>
        <div class="swiper-button-next swiper-button"></div>
        <div class="swiper-button-prev swiper-button"></div>
        <div class="swiper-pagination"></div>
      </div>
      <p class="room__description">2-х местный номер</p>
      <p class="room__description">с общей ванной комнатой</p>
      <p class="room__description">1000₽-1300₽</p>
    </div>
    <div class="room">
      <p class="room__title">эконом 4</p>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><a data-fslightbox="gallery5" href="{% static 'main/static/css/images/room5_1.jpg' %}"><img src="{% static 'main/static/css/images/room5_1.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery5" href="{% static 'main/static/css/images/room5_2.jpg' %}"><img src="{% static 'main/static/css/images/room5_2.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery5" href="{% static 'main/static/css/images/room5_3.jpg' %}"><img src="{% static 'main/static/css/images/room5_3.jpg' %}" alt=""></a></div>
        </div>
        <div class="swiper-button-next swiper-button"></div>
        <div class="swiper-button-prev swiper-button"></div>
        <div class="swiper-pagination"></div>
      </div>
      <p class="room__description">2-х местный номер</p>
      <p class="room__description">с общей ванной комнатой</p>
      <p class="room__description">1000₽-1300₽</p>
    </div>
    <div class="room">
      <p class="room__title">люкс 2</p>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><a data-fslightbox="gallery6" href="{% static 'main/static/css/images/room6_1.jpg' %}"><img src="{% static 'main/static/css/images/room6_1.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery6" href="{% static 'main/static/css/images/room6_2.jpg' %}"><img src="{% static 'main/static/css/images/room6_2.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery6" href="{% static 'main/static/css/images/room6_3.jpg' %}"><img src="{% static 'main/static/css/images/room6_3.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery6" href="{% static 'main/static/css/images/room6_4.jpg' %}"><img src="{% static 'main/static/css/images/room6_4.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery6" href="{% static 'main/static/css/images/room6_5.jpg' %}"><img src="{% static 'main/static/css/images/room6_5.jpg' %}" alt=""></a></div>
        </div>
        <div class="swiper-button-next swiper-button"></div>
        <div class="swiper-button-prev swiper-button"></div>
        <div class="swiper-pagination"></div>
      </div>
      <p class="room__description">3-х местный номер</p>
      <p class="room__description">со своей ванной комнатой и балконом</p>
      <p class="room__description">2000₽-2200₽</p>
    </div>
    <div class="room">
      <p class="room__title">мансарда 1</p>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><a data-fslightbox="gallery7" href="{% static 'main/static/css/images/room7_1.jpg' %}"><img src="{% static 'main/static/css/images/room7_1.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery7" href="{% static 'main/static/css/images/room7_2.jpg' %}"><img src="{% static 'main/static/css/images/room7_2.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery7" href="{% static 'main/static/css/images/room7_3.jpg' %}"><img src="{% static 'main/static/css/images/room7_3.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery7" href="{% static 'main/static/css/images/room7_4.jpg' %}"><img src="{% static 'main/static/css/images/room7_4.jpg' %}" alt=""></a></div>
        </div>
        <div class="swiper-button-next swiper-button"></div>
        <div class="swiper-button-prev swiper-button"></div>
        <div class="swiper-pagination"></div>
      </div>
      <p class="room__description">2-х местный номер</p>
      <p class="room__description">с общей ванной комнатой</p>
      <p class="room__description">1000₽-1300₽</p>
    </div>
    <div class="room">
      <p class="room__title">мансарда 2</p>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><a data-fslightbox="gallery8" href="{% static 'main/static/css/images/room8_1.jpg' %}"><img src="{% static 'main/static/css/images/room8_1.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery8" href="{% static 'main/static/css/images/room8_2.jpg' %}"><img src="{% static 'main/static/css/images/room8_2.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery8" href="{% static 'main/static/css/images/room8_3.jpg' %}"><img src="{% static 'main/static/css/images/room8_3.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery8" href="{% static 'main/static/css/images/room8_4.jpg' %}"><img src="{% static 'main/static/css/images/room8_4.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery8" href="{% static 'main/static/css/images/room8_5.jpg' %}"><img src="{% static 'main/static/css/images/room8_5.jpg' %}" alt=""></a></div>
          <div class="swiper-slide"><a data-fslightbox="gallery8" href="{% static 'main/static/css/images/room8_6.jpg' %}"><img src="{% static 'main/static/css/images/room8_6.jpg' %}" alt=""></a></div>
        </div>
        <div class="swiper-button-next swiper-button"></div>
        <div class="swiper-button-prev swiper-button"></div>
        <div class="swiper-pagination"></div>
      </div>
      <p class="room__description">3-х местный номер</p>
      <p class="room__description">с общей ванной комнатой</p>
      <p class="room__description">1200₽-1600₽</p>
    </div>
  </div>
</main>

<!-- ------------------------------------------------------------ -->

<main class="places">
  <p class="title">Общие места</p>
  <swiper-container class="slider" pagination="true" navigation="true" autoplay="true" autoplay-delay="10000" loop="true">
    <swiper-slide><a data-fslightbox="gallery9" href="{% static 'main/static/css/images/kitchen1.jpg' %}"><img class="sliderImage" src="{% static 'main/static/css/images/kitchen1.jpg' %}" alt=""></a></swiper-slide>
    <swiper-slide><a data-fslightbox="gallery9" href="{% static 'main/static/css/images/kitchen2.jpg' %}"><img class="sliderImage" src="{% static 'main/static/css/images/kitchen2.jpg' %}" alt=""></a></swiper-slide>
    <swiper-slide><a data-fslightbox="gallery9" href="{% static 'main/static/css/images/backyard.jpg' %}"><img class="sliderImage" src="{% static 'main/static/css/images/backyard.jpg' %}" alt=""></a></swiper-slide>
  </swiper-container>
  <div class="description">
    <div class="description__block">
      <div class="description__title">Кухня</div>
      <div class="description__text">В цокольном этаже гостевого дома располагается большая кухня со всем необходимым: столовые приборы, посуда, газовая плита, микроволновая печь, холодильники, электрический чайник, чай, кофе, сахар и т.д</div>
    </div>
    <div class="description__block">
      <div class="description__title">Двор</div>
      <div class="description__text">В нашем гостевой доме имеются места для парковки автомобилей, а также зона отдыха для приготовления шашлыка во дворе: мангал, шампура, стол, скамейки</div>
    </div>
  </div>
</main>

<!-- ------------------------------------------------------------ -->

<main class="booking">
  <div class="booking__room booking__element">
    <label for="room">номер</label>
    <select id="room">
      <option value="1">эконом 1</option>
      <option value="2">эконом 2</option>
      <option value="3">люкс 1</option>
      <option value="4">эконом 3</option>
      <option value="5">эконом 4</option>
      <option value="6">люкс 2</option>
      <option value="7">мансарда 1</option>
      <option value="8">мансарда 2</option>
    </select>
  </div>
  <div class="booking__dates booking__element">
    <label for="calendar">даты проживания</label>
    <input disabled class="calendar" id="calendar" type="text"></input>
  </div>
  <div class="booking__people booking__element">
    <label for="people">количество человек</label>
    <select disabled id="people">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
  <div class="booking__phone booking__element">
    <label for="phone">ваш номер телефона</label>
    <input type="tel" id="phone">
  </div>
  <input class="booking__submit" type="submit" value="Запросить звонок">
  <div class="fieldsMenu hidden">
    <span>Заполните все поля</span>
  </div>
  <div class="popUpMenu hidden">
    <span>Спасибо большое! Мы вам перезвоним в течении нескольких часов</span>
  </div>
</main>
<!-- ----------------- -->

<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2868.233987047558!2d43.05471087497219!3d44.037221727510754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4057762e3fdc5f1d%3A0x109c3366b93a0dbb!2z0JDQu9C70LA!5e0!3m2!1sru!2sru!4v1685202077357!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>

<script src="https://mapgl.2gis.com/api/js/v1"></script>
<script src="{% static 'main/static/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'main/static/js/swiper-element-bundle.min.js' %}"></script>
<script src="{% static 'main/static/js/fslightbox.js' %}"></script>
<script src="{% static 'main/static/js/air-datepicker.js' %}"></script>
<script src="{% static 'main/static/js/index.js' %}"></script>
</body>
</html>