{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'main/static/css/index.css' %}">
  <title>Document</title>
</head>
<body>
  
<header>
  <div class="info">
    <img src="{% static 'main/static/css/images/logo.png' %}" alt="" class="logo">
    <p class="phone">+7-912-324-86-32</p>
    <p class="address">г. Пятигорск ул. Универститетская 55</p>
  </div>
  <img src="{% static 'main/static/css/images/hotel_main.jpg' %}" alt="" class="background">
</header>

<main>
  <div class="title">Номера</div>
  <div class="majorSlider">
    <div class="rooms">
      <div class="room">
        <div class="roomName">номер 1</div>
        <div class="roomSlider">
          <div class="roomImages">
            <img src="{% static 'main/static/css/images/room1.jpg' %}" alt="" class="roomImage">
            <img src="{% static 'main/static/css/images/room2.jpg' %}" alt="" class="roomImage">
            <img src="{% static 'main/static/css/images/room1.jpg' %}" alt="" class="roomImage">
            <img src="{% static 'main/static/css/images/room2.jpg' %}" alt="" class="roomImage">
            <img src="{% static 'main/static/css/images/room1.jpg' %}" alt="" class="roomImage">
          </div>
          <div class="roomStripes"></div>
        </div>
        <div class="roomSleep">3 спальных места</div>
        <div class="roomPrice">1000₽</div>
      </div>
      <div class="room">
        <div class="roomName">номер 2</div>
        <div class="roomSlider">
          <div class="roomImages">
            <img src="{% static 'main/static/css/images/room1.jpg' %}" alt="" class="roomImage">
            <img src="{% static 'main/static/css/images/room2.jpg' %}" alt="" class="roomImage">
            <img src="{% static 'main/static/css/images/room1.jpg' %}" alt="" class="roomImage">
          </div>
          <div class="roomStripes"></div>
        </div>
        <div class="roomSleep">3 спальных места</div>
        <div class="roomPrice">1000₽</div>
      </div>
      <div class="room">
        <div class="roomName">номер 3</div>
        <div class="roomSlider">
          <div class="roomImages">
            <img src="{% static 'main/static/css/images/room1.jpg' %}" alt="" class="roomImage">
            <img src="{% static 'main/static/css/images/room2.jpg' %}" alt="" class="roomImage">
            <img src="{% static 'main/static/css/images/room1.jpg' %}" alt="" class="roomImage">
          </div>
          <div class="roomStripes"></div>
        </div>
        <div class="roomSleep">3 спальных места</div>
        <div class="roomPrice">1000₽</div>
      </div>
      <div class="room">
        <div class="roomName">номер 4</div>
        <div class="roomSlider">
          <div class="roomImages">
            <img src="{% static 'main/static/css/images/room1.jpg' %}" alt="" class="roomImage">
            <img src="{% static 'main/static/css/images/room2.jpg' %}" alt="" class="roomImage">
            <img src="{% static 'main/static/css/images/room1.jpg' %}" alt="" class="roomImage">
          </div>
          <div class="roomStripes"></div>
        </div>
        <div class="roomSleep">3 спальных места</div>
        <div class="roomPrice">1000₽</div>
      </div>
      <div class="room">
        <div class="roomName">номер 5</div>
        <div class="roomSlider">
          <div class="roomImages">
            <img src="{% static 'main/static/css/images/room1.jpg' %}" alt="" class="roomImage">
            <img src="{% static 'main/static/css/images/room2.jpg' %}" alt="" class="roomImage">
            <img src="{% static 'main/static/css/images/room1.jpg' %}" alt="" class="roomImage">
          </div>
          <div class="roomStripes"></div>
        </div>
        <div class="roomSleep">3 спальных места</div>
        <div class="roomPrice">1000₽</div>
      </div>
    </div>
  </div>
</main>

<script src="{% static 'main/static/js/index.js' %}"></script>
</body>
</html>